@model Model.XtJgbModel
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";   
}

<div class="row">
    <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <form method="post" action="/jg/index" class="form-inline" id="AddForm">
            @Html.HiddenFor(p => p.id)       
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">医院名称：</span>
                    <input type="text" class="input-large" placeholder="" id="jgmc" name="jgmc" value="@Model.jgmc" readonly="readonly">
                </label>
            </div>
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">机构地址：</span>
                    <input type="text" class="input-large" id="jgdz" name="jgdz" value="@Model.jgdz" maxlength="50">
                </label>
            </div>
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">联系电话：</span>
                    <input type="text" class="input-large" placeholder="" id="lxdh" name="lxdh" value="@Model.lxdh" maxlength="20">
                </label>
            </div>
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">联系人：</span>
                    <input type="text" class="input-large" placeholder="" id="lxr" name="lxr" value="@Model.lxr" maxlength="20">
                </label>
            </div>
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">落单对接方式：</span>
                    <select id="zdbz" name="zdbz" class="input-large">
                        <option value="1" @(Model.zdbz==1? "selected=\"selected\"":"")>全自动接口落单</option>
                        <option value="2" @(Model.zdbz==2? "selected=\"selected\"":"")>半自动接口落单</option>
                        <option value="3" @(Model.zdbz==3? "selected=\"selected\"":"")>手动导出落单</option>                    
                    </select>
                </label>
            </div>
       
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">是否启用：</span>
                    <select id="SBH" name="SBH" class="input-large" style="width:148px;">
                        <option value="1" @(Model.sfqy == 1 ? "selected=\"selected\"" : "")>启用</option>
                        <option value="0" @(Model.sfqy == 0 ? "selected=\"selected\"" : "")>禁用</option>
                    </select>
                   
                </label>
            </div>
            <div class="form-group">
                <label class="inline">
                    <span class="lbl">开放平台：</span>
                    @foreach (Model.XtdsfbzModel item in ViewBag.bz)
                    {
                        <input type="checkbox" value="@item.id" name="bz" id="@item.id" class="other_dj" /><label for="@item.id">@(item.dsfbz)</label>　
                    }                   
                </label>
            </div>
          
        
            <div class="clearfix form-actions" style="text-align:center">
                <button id="Save" type="button" class="btn btn-info">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    确认
                </button>
              
            </div>
        </form>

    </div><!-- /.col -->
</div>


@section scripts {
    <script>
        //这里放本页面js代码

        jQuery(function ($) {

           var ok = "@(ViewBag.ok)";
            if (ok == "1") {            
                alert("保存成功");
                $(".close", window.parent.document).trigger("click");
                parent.window.location = "/jg/list";
            }
            var msg = "@(ViewBag.msg)";
            if (msg.length > 0) {
                alert(msg);
            }

            //开放的第三方平台选中
            var lxbhs = '@(Model.dsfbz)'.split(",");
            if (lxbhs.length > 0) {
                for (var i = 0; i < lxbhs.length; i++) {
                    $(":checkbox[name=bz][value=" + lxbhs[i] + "]").prop("checked", true);
                }
            }


            //确认
            $("#Save").click(function () {
                $("#AddForm").submit();
            });
        });


    </script>
}