
@{
  
}
@model Model.XtZhbModel
<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">个人中心</a>
            </span>
        </div>
    </div>
    <div class="grzx_detail_wrap layui-form">
        <div class="left">
            <div class="title">账号信息</div>
            <div class="list">
                <dl>
                    <dt>用户名：</dt>
                    <dd>@Model.zh</dd>
                </dl>
                <dl>
                    <dt>电话：</dt>
                    <dd>@Model.dh</dd>
                </dl>
                <dl>
                    <dt>邮箱：</dt>
                    <dd>@Model.ys</dd>
                </dl>
                <dl>
                    <dt>权限：</dt>
                    <dd>@Model.jsmc</dd>
                </dl>
                <dl>
                    <dt>注册时间：</dt>
                    <dd>@Model.createtime.ToString("yyyy-MM-dd HH:mm:ss")</dd>
                </dl>
            </div>
            <button type="button" class="layui-btn layui-btn-warm" onclick="change_psd()">修改密码</button>
        </div>
        <div class="right">
            <div class="title">管理员登录记录</div>
            <div class="no">
                <img src="../assets/images/oa_nofind.png" alt="">
                <p>暂无管理员登录~</p>
            </div>
        </div>
    </div>
</div>
<!-- 修改密码弹窗 -->
<div class="edit_dialog">
    <div class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">原密码：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输原密码" id="old" maxlength="20">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输入新密码" id="new1" maxlength="20">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输入新密码" id="new2" maxlength="20">
            </div>
        </div>
        <div class="buttonwrap">
            <a href="javascript:xg();" class="layui-btn layui-btn-blue yes" style="width: auto;">确认修改</a>
        </div>
    </div>
</div>
@section scripts {
    <script>
        function change_psd() {
            layer.open({
                type: 1,
                content: $('.edit_dialog'),
                title: '密码修改',
                area: ['auto', 'auto'],
                cancel: function() {
                    $('.edit_dialog').hide();
            }
            })
        }
        
        function xg() {
            if ($("#old").val() == "")
            {
                layer.msg('请输入原始密码', { icon: 1, time: 2000 });
                return;
            }
            if ($("#new1").val() == "") {
                layer.msg('请输入新密码', { icon: 1, time: 2000 });
                return;
            }
            if ($("#new1").val() != $("#new2").val()) {
                layer.msg('两次密码不一致', { icon: 1, time: 2000 });
                return;
            }
            $.ajax({
                url:'@Url.Content("~/Home/Mmxg")',
                type: 'post',
                dataType: 'json',
                data: { oldpwd: $("#old").val(),newpwd:$("#new2").val() },
                success: function (res) {
                    if (res.flag) {
                        layer.closeAll();
                        $('.edit_dialog').hide();
                        layer.msg('保存成功！', {
                            icon: 1, time: 2000, end: function () {
                               
                            }
                        });

                    } else {
                        layer.msg('保存失败,' + res.msg, { icon: 1, time: 2000 });
                    }
                },
                error: function () {

                    layer.msg('保存失败！', { icon: 1, time: 1000 });
                    return;

                }
            });
        }
    </script>
}