
@{

}
@model List<Model.Dto.ReportQd.YyYsReport>

<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a>报表中心</a>
                <a class="on">第三方平台营收报表</a>
            </span>
        </div>
    </div>  

    <div class="layui-row c_3">
        <div class="row_top">
            <div class="right_tool">
                <div class="tool_item" >
                    <span><img src="~/Content/assets/images/shuaxin.png"  onclick="headreport(0)"></span>
                </div>
                <div class="tool_item">
                    <span><img src="~/Content/assets/images/gengduo.png"></span>
                    <ul>
                        @foreach (var item in ViewBag.QdList)
                        {
                            <li onclick="headreport(@item.key)"><a href="">@item.values</a></li>                          
                        }                      
                    </ul>
                </div>
            </div>
        </div>
        <div class="layui-col-space30">
            <div class="layui-col-md4 layui-col-sm4">
                <div>
                    <p><label>近30天交易总额(元)</label><span id="s_Yye30">@ViewBag.Yye30</span></p>
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm4">
                <div>
                    <p><label>今日交易总额(元)</label><span id="s_Yye">@ViewBag.Yye</span></p>                
                </div>
            </div>
            <div class="layui-col-md4 layui-col-sm4">
                <div>
                    <p><label>当月交易总额(元)</label><span id="s_Yyedy">@ViewBag.Yyedy</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="tool_pannel">
       
            <div class="layui-form-item">
                <div class="layui-form-inline">
                    <label class="layui-form-label">开始时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="time1" class="layui-input" placeholder="请选择" value="@DateTime.Now.AddDays(-30).ToString("yyyy-MM-dd")">
                    </div>
                    <label class="layui-form-label" style="margin-right: 10px;">至</label>
                    <label class="layui-form-label">结束时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" id="time2" class="layui-input" placeholder="请选择" value="@DateTime.Now.ToString("yyyy-MM-dd")">
                    </div>
                    <button class="layui-btn layui-btn-blue" onclick="changePostList(1)"><i class="iconfont icon-sousuo" ></i>搜索</button>
                </div>
            </div>
       
    </div>
    <div class="table_wrap layui-form">
        @Html.Partial("YsPartList", Model)
        <!-- 分页样式 -->
    </div>
</div>





@section scripts {
    <script>
        $('.tool_item>span').click(function () {
            $(this).parent().siblings().find('ul').slideUp();
            $(this).next().slideToggle();
            return false;
        })
        $(document).click(function () {
            $('.tool_item ul').slideUp();
        })
        //分页
		function changePostList(page)
        {

		    var start = $("#time1").val();
		    var end = $("#time2").val();		
		    var url ="@Url.Content("~/ReportQd/YsList")"+ "?start=" + start + "&end=" + end;
		    var id = layer.load(0, {time:false,shade:0.3});
		    $.get(url, function (data) {

		        $(".table_wrap").html(data);
		        layer.close(id);
		    });
		}
		layui.use('laydate', function () {
		    var laydate = layui.laydate;
		    //执行一个laydate实例
		    laydate.render({
		        elem: '#time1' //指定元素
		    });
		    laydate.render({
		        elem: '#time2' //指定元素
		    });
		 
		});
		function headreport(qdid)
		{
		    if(start==""||end=="")
		    {
		        layer.msg('请选择时间段！', { icon: 2, time: 1000 });
		        return;
		    }

		    var id = layer.load(0, { time: false, shade: 0.3 });
		    $.ajax({
		        url: '@Url.Content("~/Report/Ys")',
		        type: 'post',
		        dataType: 'json',
		        data: { qdId: qdid },
		        success: function (res) {
		            if (res.flag) {
		                $("#s_Yye30").html(res.Yye30);
		                $("#s_Yye").html(res.Yye);
		                $("#s_Yyedy").html(res.Yyedy);
		                layer.close(id);		              

		            } else {
		                layer.close(id);		              
		            }
		        },
		        error: function () {
		            layer.close(id);		           
		            return;

		        }
		    });

		}
		function Export(qdid) {
		    var start = $("#time1").val();
		    var end = $("#time2").val();	
		    if(start==""||end=="")
		    {
		        layer.msg('请选择时间段！', { icon: 2, time: 1000 });
		        return;
		    }
		    var url = "@Url.Content("~/ReportQd/ExportExcel")"+"?qdid="+qdid+"&start=" + start + "&end=" + end;
		   
		    location.href = url;
		}
        
    </script>
}