
@{
    Layout = null;
}
@model List<Model.Dto.ReportQd.YyYsReport>
<table class="layui-table layui-form" lay-skin='nob'>
    <thead>
        <tr>
            <th>序号</th>
            <th>订单来源</th>
            <th>订单总数</th>
            <th>退款订单数</th>
            <th>交易额</th>
            <th>退款金额</th>
            <th>操作</th>
        </tr>
    </thead>
    @if (Model != null && Model.Count > 0)
                {
                    int i = 0;
                    foreach (var item in Model)
                    {
            i++;
            <tr class="">
                <td>@i</td>
                <td>@item.qdmc</td>
                <td>@item.ddzs</td>
                <td>@item.tkzs</td>
                <td>@item.ddze.ToString("0.##")</td>
                <td>@item.tkze.ToString("0.##")</td>
             
                <td><span class="text_blue" onclick="Export(@item.qdid)">订单明细下载</span></td>
            </tr>
        }
    }
</table>
