
@{
    Layout = null;
}
@model List<Model.Wjbq>
<table class="layui-table layui-form" lay-skin='nob'>
    <thead>
    <tr>
        <th>标签编号</th>
        <th>标签名称</th>
        <th>标签详情</th>
        <th>操作</th>
    </tr>
    </thead>

    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.RowNum</td>
                <td>@item.BQMC</td>
                <td>@item.BQXQ</td>
                <td class="tooltd">
                    <a class="text_blue" href="javascript:;" onclick="del(@item.ID)">删除</a>
                    <a href="javascript:;" class="text_blue" onclick="edit(@item.ID)">编辑</a>
                </td>
            </tr>
        }
    }
</table>
@if (Model == null || Model.Count == 0)
{
    <div class="data_none"><img src="~/content/assets/images/nothing.png" alt=""></div>
}
<!-- 分页样式 -->
@(ViewBag.Pager)
