
@{
    Layout = null;
}
@model Model.Dto.PqQytDto
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/assets/css/layui.css">
    <link rel="stylesheet" href="~/Content/assets/font2/iconfont.css">
    <link rel="stylesheet" href="~/Content/assets/css/admin.css" />
    <link rel="stylesheet" href="~/Content/assets/css/view.css" />


    <link href="~/Content/assets/css/queryAppointment.css" rel="stylesheet" />
    <link href="~/Content/assets/css/qydetail.css" rel="stylesheet" />


    <link rel="icon" href="/favicon.ico">
    <title>预约报表</title>
    <style>
        .paiqiTable .rest { color: #ff0000; }
        .paiqiTable .normal p { color: #999999; }
            .paiqiTable .normal p span { color: #ffbb00; }
        .paiqiTable .full p { color: #ff0000; }
        .paiqiTable .selected { background-color: #ffbb00; color: #fff !important; }
            .paiqiTable .selected p { color: #fff !important; }
                .paiqiTable .selected p span { color: #fff !important; }
    </style>
</head>

<body class="layui-view-body">
    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                    <a>报表中心</a>
                    <a  class="on">企业预约日历表</a>
                </span>
            </div>
        </div>
        <div>
            <div class="jindu_list">
                <div class="time"></div>
                <div class="big">@DateTime.Now.Day</div>
                <ul style="height: 419px;overflow-y: auto;padding: 0 22px;"></ul>
            </div>
            <div class="pdBox_left layui-form">
                <!-- 排期 -->
                <div class="comPaiqiWrap" style="padding: 40px 34px;">
                    <div class="top">
                        <div class="layui-input-inline" style="width: 110px;">
                            <select id="selectYear" lay-filter="selectYear">
                                @for (int i = 2019; i <= 2029; i++)
                                {
                                    <option value="@i" @(DateTime.Now.Year == i ? "selected" : "")>@(i)年</option>
                                }
                            </select>

                        </div>
                        <div class="tool">
                            <a href="javascript:;" id="m_left"><i class="layui-icon">&#xe603;</i></a>
                            <div class="layui-input-inline" style="width: 80px;margin: 0 10px;">
                                <select id="selectMonth" lay-filter="selectMonth">
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i" @(DateTime.Now.Month == i ? "selected" : "")>@(i)月</option>
                                    }
                                </select>

                            </div>
                            <a href="javascript:;"  id="m_right"><i class="layui-icon">&#xe602;</i></a>
                        </div>
                    </div>

                    <table class="paiqiTable">
                        <thead>
                            <tr>
                                <th class="color_red">日</th>
                                <th>一</th>
                                <th>二</th>
                                <th>三</th>
                                <th>四</th>
                                <th>五</th>
                                <th class="color_red">六</th>                         
                            </tr>
                        </thead>
                        <tbody>
                            @{ var gNum = 0;}
                            @for (int i = 0; i < 6; i++)
                            {
                                <tr>
                                    @for (int j = 0; j < 7; j++)
                                    {
                                        gNum = i * 7 + j;
                                        <td id="GD@(gNum)">
                                            <h4 id="SD@(gNum)"></h4>
                                            <p id="LD@(gNum)"></p>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/assets/layui.all.js"></script>
    <script>
        var element = layui.element;
        var table = layui.table;
        var form = layui.form;
        var laydate = layui.laydate;

        var year = '@DateTime.Now.Year', month = '@DateTime.Now.Month', today = new Date('@DateTime.Now.ToString("yyyy-MM-dd")');
        var clickYear = '@DateTime.Now.Year', clickMonth = '@DateTime.Now.Month'; clickDay = '@DateTime.Now.Day';
        $(function () {
            SetRight();
            GetMonthData();
          
            form.on('select(selectYear)', function (data) {
                year = $("#selectYear").val();
                month = $("#selectMonth").val();
                GetMonthData();
            })

            form.on('select(selectMonth)', function (data) {
                year = $("#selectYear").val();
                month = $("#selectMonth").val();
                GetMonthData();
            })
        })
        $(".paiqiTable tbody td").click(function (e) {
            if ($(this).hasClass("on")) {
                $(".paiqiTable tbody td").removeClass("selected");
                $(this).addClass("selected");
                clickYear = $("#selectYear").val();
                clickMonth = $("#selectMonth").val();
                clickDay = $(this).attr("day");
                SetRight();
            }
        });

        var weekday = ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"];
        function SetRight() {
            var val = (clickYear + "-" + Checknumber(clickMonth) + "-" + Checknumber(clickDay));
            var selectDate = new Date(Date.parse(val));
            var title = clickYear + '年' + clickMonth + '月' + clickDay + '日  ' + weekday[selectDate.getDay()];
            $(".time").html(title);
            $(".big").html(clickDay);

            $.ajax({
                url: "@Url.Action("AppoingmentDayData")",
                data: { year: clickYear, month: clickMonth, day: clickDay },
                dataType: "json",
                type: "post",
                success: function (res) {
                    var html = '';
                    $.each(res, function (i, item) {
                        html += '<li>';
                        html += '<h4>' + item.Qymc + '</h4>';
                        html += '<p>当日号源' + item.Zrs + '，当日预约人数' + item.Yyrs + '</p>';
                        html += '<span class="jdSpan">' + item.Bfb + '</span>';
                        html += '<div class="progress_wrap jdLi">';
                        html += '<div class="layui-progress layui-progress-big" lay-filter="demo' + i + '">';
                        
                        html += '<div class="layui-progress-bar layui-bg-white" lay-percent="' + item.Bfb + '"></div>';
                        html += '</div>';
                        
                        html += '</div>';
                        html += '</li>';
                    })
                    $(".jindu_list>ul").html(html);

                    $.each(res, function (i, item) {
                        element.progress('demo' + i, item.Bfb)
                    })
                }
            })
        }

        function GetMonthData() {
            var year = $("#selectYear").val();
            var month = $("#selectMonth").val();
            $.ajax({
                url: "@Url.Action("AppoingmentData")",
                data: { year: year, month: month },
                dataType: "json",
                type: "post",
                async: false,
                success: function (res) {
                    drawCld(year, month - 1, res);
                }
            })
        }


        var lunarInfo = new Array(
       0x04bd8, 0x04ae0, 0x0a570, 0x054d5, 0x0d260, 0x0d950, 0x16554, 0x056a0, 0x09ad0, 0x055d2,
       0x04ae0, 0x0a5b6, 0x0a4d0, 0x0d250, 0x1d255, 0x0b540, 0x0d6a0, 0x0ada2, 0x095b0, 0x14977,
       0x04970, 0x0a4b0, 0x0b4b5, 0x06a50, 0x06d40, 0x1ab54, 0x02b60, 0x09570, 0x052f2, 0x04970,
       0x06566, 0x0d4a0, 0x0ea50, 0x06e95, 0x05ad0, 0x02b60, 0x186e3, 0x092e0, 0x1c8d7, 0x0c950,
       0x0d4a0, 0x1d8a6, 0x0b550, 0x056a0, 0x1a5b4, 0x025d0, 0x092d0, 0x0d2b2, 0x0a950, 0x0b557,
       0x06ca0, 0x0b550, 0x15355, 0x04da0, 0x0a5d0, 0x14573, 0x052d0, 0x0a9a8, 0x0e950, 0x06aa0,
       0x0aea6, 0x0ab50, 0x04b60, 0x0aae4, 0x0a570, 0x05260, 0x0f263, 0x0d950, 0x05b57, 0x056a0,
       0x096d0, 0x04dd5, 0x04ad0, 0x0a4d0, 0x0d4d4, 0x0d250, 0x0d558, 0x0b540, 0x0b5a0, 0x195a6,
       0x095b0, 0x049b0, 0x0a974, 0x0a4b0, 0x0b27a, 0x06a50, 0x06d40, 0x0af46, 0x0ab60, 0x09570,
       0x04af5, 0x04970, 0x064b0, 0x074a3, 0x0ea50, 0x06b58, 0x055c0, 0x0ab60, 0x096d5, 0x092e0,
       0x0c960, 0x0d954, 0x0d4a0, 0x0da50, 0x07552, 0x056a0, 0x0abb7, 0x025d0, 0x092d0, 0x0cab5,
       0x0a950, 0x0b4a0, 0x0baa4, 0x0ad50, 0x055d9, 0x04ba0, 0x0a5b0, 0x15176, 0x052b0, 0x0a930,
       0x07954, 0x06aa0, 0x0ad50, 0x05b52, 0x04b60, 0x0a6e6, 0x0a4e0, 0x0d260, 0x0ea65, 0x0d530,
       0x05aa0, 0x076a3, 0x096d0, 0x04bd7, 0x04ad0, 0x0a4d0, 0x1d0b6, 0x0d250, 0x0d520, 0x0dd45,
       0x0b5a0, 0x056d0, 0x055b2, 0x049b0, 0x0a577, 0x0a4b0, 0x0aa50, 0x1b255, 0x06d20, 0x0ada0
   )

        var solarMonth = new Array(31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31);
        var nStr1 = new Array('日', '一', '二', '三', '四', '五', '六', '七', '八', '九', '十');



        //返回农历y年的总天数
        function lYearDays(y) {
            var i, sum = 348;
            for (i = 0x8000; i > 0x8; i >>= 1) sum += (lunarInfo[y - 1900] & i) ? 1 : 0;
            return (sum + leapDays(y));
        }
        //返回农历y年闰月的天数
        function leapDays(y) {
            if (leapMonth(y)) return ((lunarInfo[y - 1900] & 0x10000) ? 30 : 29);
            else return (0);
        }
        //判断y年的农历中那个月是闰月,不是闰月返回0
        function leapMonth(y) {
            return (lunarInfo[y - 1900] & 0xf);
        }
        //返回农历y年m月的总天数
        function monthDays(y, m) {
            return ((lunarInfo[y - 1900] & (0x10000 >> m)) ? 30 : 29);
        }
        //算出当前月第一天的农历日期和当前农历日期下一个月农历的第一天日期
        function Dianaday(objDate) {

            var i, leap = 0, temp = 0;
            var baseDate = new Date(1900, 0, 31);
            var offset = (objDate - baseDate) / 86400000;
            this.dayCyl = offset + 40;
            this.monCyl = 14;
            for (i = 1900; i < 2050 && offset > 0; i++) {
                temp = lYearDays(i)
                offset -= temp;
                this.monCyl += 12;
            }
            if (offset < 0) {
                offset += temp;
                i--;
                this.monCyl -= 12;
            }
            this.year = i;
            this.yearCyl = i - 1864;
            leap = leapMonth(i); //闰哪个月
            this.isLeap = false;
            for (i = 1; i < 13 && offset > 0; i++) {
                if (leap > 0 && i == (leap + 1) && this.isLeap == false) {	//闰月
                    --i; this.isLeap = true; temp = leapDays(this.year);
                }
                else {
                    temp = monthDays(this.year, i);
                }
                if (this.isLeap == true && i == (leap + 1)) this.isLeap = false;	//解除闰月
                offset -= temp;
                if (this.isLeap == false) this.monCyl++;
            }
            if (offset == 0 && leap > 0 && i == leap + 1)
                if (this.isLeap) { this.isLeap = false; }
                else { this.isLeap = true; --i; --this.monCyl; }
            if (offset < 0) { offset += temp; --i; --this.monCyl; }
            this.month = i;
            this.day = offset + 1;
        }
        //返回公历y年m+1月的天数
        function solarDays(y, m) {
            if (m == 1)
                return (((y % 4 == 0) && (y % 100 != 0) || (y % 400 == 0)) ? 29 : 28);
            else
                return (solarMonth[m]);
        }
        //记录公历和农历某天的日期
        function calElement(sYear, sMonth, sDay, week, lYear, lMonth, lDay, isLeap) {
            this.isToday = false;
            //公历
            this.sYear = sYear;
            this.sMonth = sMonth;
            this.sDay = sDay;
            this.week = week;
            //农历
            this.lYear = lYear;
            this.lMonth = lMonth;
            this.lDay = lDay;
            this.isLeap = isLeap;
            //节日记录
            this.lunarFestival = ''; //农历节日
            this.solarFestival = ''; //公历节日
            this.solarTerms = ''; //节气
        }

        //保存y年m+1月的相关信息
        var fat = mat = 9;
        var eve = 0;
        function calendar(y, m) {

            fat = mat = 0;
            var sDObj, lDObj, lY, lM, lD = 1, lL, lX = 0, tmp1, tmp2;
            var lDPOS = new Array(3);
            var n = 0;
            var firstLM = 0;
            sDObj = new Date(y, m, 1);	//当月第一天的日期
            this.length = solarDays(y, m);    //公历当月天数
            this.firstWeek = sDObj.getDay();    //公历当月1日星期几
            if ((m + 1) == 5) { fat = sDObj.getDay() }
            if ((m + 1) == 6) { mat = sDObj.getDay() }
            for (var i = 0; i < this.length; i++) {
                if (lD > lX) {
                    sDObj = new Date(y, m, i + 1);    //当月第一天的日期
                    lDObj = new Dianaday(sDObj);     //农历
                    lY = lDObj.year;           //农历年
                    lM = lDObj.month;          //农历月
                    lD = lDObj.day;            //农历日
                    lL = lDObj.isLeap;         //农历是否闰月
                    lX = lL ? leapDays(lY) : monthDays(lY, lM); //农历当月最後一天
                    if (lM == 12) { eve = lX }
                    if (n == 0) firstLM = lM;
                    lDPOS[n++] = i - lD + 1;
                }
                this[i] = new calElement(y, m + 1, i + 1, nStr1[(i + this.firstWeek) % 7], lY, lM, lD++, lL);
                if ((i + this.firstWeek) % 7 == 0) {
                    this[i].color = '#ccc';  //周日颜色
                }
            }

            //if (y == tY && m == tM) this[tD - 1].isToday = true;	//今日
        }

        var cld;

        var Checknumber = function (startmonth) {
            if (new Number(startmonth).toString().length == 1) {
                startmonth = "0" + startmonth;
            }
            return startmonth;
        }
        var restTotalList = null;//每天剩余预约量,(50/100)

        var year = '@DateTime.Now.Year', month = '@DateTime.Now.Month', today = new Date('@DateTime.Now.ToString("yyyy-MM-dd")');
        function drawCld(SY, SM, DtList) {

            var TF = true;
            var p1 = p2 = "";
            var i, sD, s, size;
            cld = new calendar(SY, SM);


            for (i = 0; i < 42; i++) {
                tobj = eval('GD' + i);
                sObj = eval('SD' + i);
                lObj = eval('LD' + i);
                sObj.className = '';
                sD = i - cld.firstWeek;

                if (sD > -1 && sD < cld.length) { //日期内
                    var cldday = sD + 1;

                    //val = (year + "-" + Checknumber(month) + "-" + Checknumber(cldday));
                    //var cksa = new Date(Date.parse(val));

                    var ckobj = DtList != undefined ? DtList["DT" + cldday] : null;

                    sObj.innerHTML = cldday;
                    if (ckobj.flag == 1) {
                        tobj.className = "on rest";                      
                        lObj.innerHTML = '休息';
                    } else if (ckobj.zrs <= ckobj.yyrs) {
                        tobj.className = "on full";
                        lObj.innerHTML = '<span>约满</span>';
                    } else {
                        tobj.className = "on normal";
                        lObj.innerHTML = '<span>' + ckobj.yyrs + '</span>' + "/" + ckobj.zrs;
                    }
              
                    tobj.setAttribute("day", cldday);
                    if (i == 35) {
                        $(tobj).parent().show();
                    }
                } else { //非日期
                    tobj.className = "";
                    sObj.innerHTML = '';
                    lObj.innerHTML = '';

                    if (i == 35) {
                        $(tobj).parent().hide();
                    }
                }
            }

            if (year == clickYear && month == clickMonth) {
                $(".paiqiTable tbody td[day='" + clickDay + "']").addClass("selected");
            }
        }

        $("#m_left").click(function () {
            year = $("#selectYear").val();
            month = $("#selectMonth").val();
            if (month == 1) {
                if (year > 2019) {
                    month = 12;
                    year = year - 1;
                }
            } else {
                month = month - 1;
            }
            $("#selectYear").val(year);
            $("#selectMonth").val(month);
            form.render("select")
            GetMonthData();
        })
        $("#m_right").click(function () {
            year = $("#selectYear").val();
            month = $("#selectMonth").val();
            if (month == 12) {
                if (year < 2029) {
                    month = 1;
                    year = parseInt(year) + 1;
                }
            } else {
                month = parseInt(month) + 1;
            }
            $("#selectYear").val(year);
            $("#selectMonth").val(month);
            form.render("select")
            GetMonthData();
        })
    </script>
</body>
</html>
