@{
   
    Layout = null;
}


<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/assets/css/layui.css">
    <link rel="stylesheet" href="~/Content/assets/css/login.css">
    <link rel="stylesheet" href="~/Content/assets/css/view.css">
    <link rel="icon" href="/favicon.ico">
    <title>管理后台</title>
</head>
<body class="login-wrap">
    <div class="login-container layui-form">
        <form class="login-form">
            <div class="login_logo">
                <img src="~/Content/assets/images/login/logo.png" />
            </div>
            @* 登录提示 *@
            <div class="logintip_wrap">
                <img src="~/Content/assets/images/error.png" />
                <span></span>
            </div>
            <div class="input-group">
                <img src="~/Content/assets/images/login/z.png" />
                <input type="text" id="username" class="input-field" autocomplete="off" placeholder="请输入您的账号" value=""/>
            </div>
            <div class="input-group">
                <img src="~/Content/assets/images/login/p.png" />
                <input type="password" id="password" class="input-field" autocomplete="new-password" placeholder="请输入您的密码" value=""/>
            </div>
            <div class="input-group" style="margin-bottom:15px;">
                <img src="~/Content/assets/images/login/y.png" />
                <input id="YZM" type="text" placeholder="请输入验证码" autocomplete="off" />
                <img id="imgcode" src="@Url.Content("~/ImgCode")?v=1" style="float:right; width:110px" />
            </div>
            <div class="remBox">
                <input type="checkbox" name="" title="记住密码" lay-skin="primary" lay-filter="remember" id="remember"> 
            </div>
            <button type="button" id="login" class="login-button">登录<i class="ai ai-enter"></i></button>
            <div class="login_text">
                <ul>
                    <li>隐私</li>          
                    <li>帮助</li>
                    <li>条款</li>
                </ul>
                <p>copyright ©2020  安网（深圳）物联网科技有限公司  </p>
            </div>
        </form>
    </div>
</body>
<script src="~/Content/Js/jquery-1.8.2.min.js"></script>
<script src="~/Content/assets/layui.all.js"></script>
<script src="~/Content/Js/jquery.cookie.js"></script>
<script>
    //var $ = layui.jquery
    var form = layui.form
    $(function () {
        console.log($.cookie("remember"))
        if ($.cookie("remember") == "true") {
            $('#remember').next().addClass('layui-form-checked')
            $("#username").val($.cookie("username"))
            $("#password").val($.cookie("password"))
        } else {
            $('#remember').next().removeClass('layui-form-checked')
        }
        $(document).keypress(function (e) {
            // 回车键事件
            if (e.which == 13) {
                jQuery("#login").click();
            }
        });
        $("#imgcode").click(function () {
            $(this).attr("src", "@Url.Content("~/ImgCode")?v=" + Math.random());
        });
        function save() {
            if ($('#remember').is(':checked')) {
                var str_username = $("#username").val();
                var str_password = $("#password").val();
                $.cookie("remember", "true", { expires: 7 }); //存储一个带7天期限的cookie
                $.cookie("username", str_username, { expires: 7 });
                $.cookie("password", str_password, { expires: 7 });
            } else {
                $.cookie("remember", "false", { expire: -1 });
                $.cookie("username", "", { expires: -1 });
                $.cookie("password", "", { expires: -1 });
            }
        }
        //登录
        $("#login").click(function () {
            var yhm = $.trim($("#username").val());
            var mm = $.trim($("#password").val());
            var yzm = $.trim($("#YZM").val());
            if (yhm.length == 0) {
                $("#username").focus();
                $('.logintip_wrap span').text('请输入您的账号');
                $('.logintip_wrap').show();
                return;
            } else if (mm.length == 0) {
                $("#password").focus();
                $('.logintip_wrap span').text('密码不能为空');
                $('.logintip_wrap').show();
                return;
            } else if (yzm.length == 0) {
                $("#YZM").focus();
                $('.logintip_wrap span').text('验证码不能为空');
                $('.logintip_wrap').show();
                return;
            } else {
                $('.logintip_wrap').hide();
                $.ajax({
                    url: '@Url.Content("~/login/loginpost")',
                    type: 'post',
                    dataType: 'json',
                    data: { YHM: yhm, MM: mm, YZM: yzm },
                    success: function (res) {
                        if (!res.flag) {
                            $('.logintip_wrap span').text(res.msg);
                            $('.logintip_wrap').show();
                            $("#tip_close").unbind("click").click(function () {
                                $("#tip").hide();
                            });
                            $("#imgcode").attr("src", "@Url.Content("~/ImgCode")?v=" + Math.random());
                            $("#YZM").val("");


                        } else {
                            save()
                            if ("@ViewBag.referUrl".length > 0) {
                                window.location = "@ViewBag.referUrl";
                            } else {
                                window.location = "@Url.Content("~/Home")";
                            }


                        }
                    }
                });
            }
        });
    })
</script>
</html>



