
@{
    Layout = null;
}
@model List<Model.JsModel>
<table class="layui-table layui-form" lay-skin='nob'>
    <thead>
    <tr>
        <th>ID</th>
        <th>角色名称</th>
        <th>描述</th>
        <th>操作</th>
    </tr>
    </thead>

    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>@item.RowNum</td>
                <td>@item.Jsmc</td>
                <td>@item.Bz</td>
                <td class="show_bartd">
                    <a href="javascript:;" class="text_blue" onclick="edit(@item.Id)">编辑</a>
                </td>
            </tr>
        }
    }
</table>
@if (Model == null || Model.Count == 0)
{
    <div class="data_none"><img src="~/content/assets/images/nothing.png" alt=""></div>
}
<!-- 分页样式 -->
@(ViewBag.Pager)
